/*    header   */
header{
    margin-bottom: 20px;
}
.header{
    width: 100%;
    height: 100px;
    background: linear-gradient(30deg, blue, red);
    text-align: center;
    border-bottom: 2px solid #000;
    margin-bottom: 7.5px;
}
.header_logo{
    height: 100%;
    margin: 0 auto;
}
.header_nav{
    height: 27.5px;
    border-bottom: 2px solid #000;
    display: flex;
}
.header_nav a{
    display: inline;
    font-size: 20px;
    margin: 0 5px;
    color: #000;
    text-decoration: none;
}
.header_nav a:hover{
    color: #757575;
}

.nav{
    width: 70%;
}
.nav a{
    width: 100%;
}
.identification{
    width: 30%;
    text-align: right;
}
.main_content{
    width: 100%;
}

/*  main content  */

.main_content{
    padding-bottom: 5px;
}

/*  authorization  */

.form_identification{
    width: 400px;
    border-image: linear-gradient(red, blue) 35;
    border-width: 4px;
    border-style: solid;
    margin: 0 auto;
    text-align: center;
}
.form_identification img{
    width: 100%;
}
.form_identification h2{
    font-size: 20px;
    margin-bottom: 15px;
}
.form_identification input{
    width: 80%;
    margin-bottom: 10px;
    size: 15px;
    border-radius: 10px;
    border: #000 solid 2px;
    padding-left: 10px;
}
.form_identification button{
    width: 30%;
    margin-bottom: 10px;
    border-radius: 10px;
    background: linear-gradient(30deg, blue, red);
    border: #000 solid 2px;
    color: #fff;
}
.error{
    color: red;
    margin-bottom: 10px;
}

/* news */

.card_news{
    width: 600px;
    border-image: linear-gradient(red, blue) 35;
    border-width: 4px;
    border-style: solid;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 20px;
}
.card_news h1{
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.card_news img{
    max-width: 95%;
    margin-bottom: 10px;
    max-height: 400px;
}
.text_news{
    margin: 0 auto;
    width: 95%;
    text-align: left;
    margin-bottom: 10px;
}
.comment_date{
    margin: 0 auto;
    width: 95%;
    margin-bottom: 10px;
    display: flex;
}
.news_comment{
    width: 50%;
    display: inline;
    text-align: left;
}
.news_date{
    width: 50%;
    display: inline;
    text-align: right;
}